<template>
  <div>
    <b-btn @click="register" variant="info">REGISTER</b-btn>
    <b-btn @click="register" variant="success">LOGIN</b-btn>
  </div>
</template>
<script>
export default {
  data(){
    return {
      regValues  : {
        firstName : null,
        lastName  : null,
        email     : null,
        password  : null,
        gender    : null,
        province  : null,
        city      : null
      },
      loginValues :{
        email     : null,
        password  : null
      },
      faileds : []
    }
  },
  mounted(){
    window.aku = this;
  },
  methods:{
    validateEmail( val ){
      return !val ? true : (/^[^\s@]+@[^\s@]+\.[^\s@]+$/).test(val)
    },
    register(){
      this.faileds=[]
      for( let key in this.regValues ){
        if( !this.regValues[key] ){
          this.faileds.push(key)
          continue
        }
        if( key==='email' && !this.validateEmail( this.regValues[key] )){
          this.faileds.push(key)
        }
      }
      if( this.faileds.length >0){
        //gagal
        alert(this.faileds.length+" fields Tidak valid")
      }else{
        //berhasil
        alert("sukses")
      }
    },
    login(){
      this.faileds=[]
      for( let key in this.loginValues ){
        if( !this.loginValues[key] ){
          this.faileds.push(key)
          continue
        }
        if( key==='email' && !this.validateEmail( this.loginValues[key] )){
          this.faileds.push(key)
        }
      }
      if( this.faileds.length >0){
        //gagal
        alert(this.faileds.length+" fields Tidak valid")
      }else{
        //berhasil
        alert("sukses")
      }
    }
  }
}
</script>