<template>
  <div>
    <b-navbar toggleable="lg" class="nav-custom">
      <b-container>
        <b-navbar-brand href="#">Bar Cloth</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-navbar-nav>
              <b-nav-item href="#">Home</b-nav-item>
              <b-nav-item href="#">Gallery</b-nav-item>
              <b-nav-item href="#">Blog</b-nav-item>
            </b-navbar-nav>
            <b-nav-item-dropdown text="Product" right>
              <b-dropdown-item href="#">Clothes</b-dropdown-item>
              <b-dropdown-item href="#">Hat</b-dropdown-item>
              <b-dropdown-item href="#">Sweeter</b-dropdown-item>
              <b-dropdown-item href="#">Jeans</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-navbar-nav>
              <b-nav-item
                class="bo-50 btn-custom"
                :to="{
                  name: 'signup'
                }"
                >Sign up</b-nav-item
              >
            </b-navbar-nav>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
    <div class="wrap-hero">
      <b-jumbotron>
        <b-container>
          <div class="wrap">
            <div class="wrap-login">
              <div class="wrap-left">
                <h1 class="title-hero">
                  Welcome to Family
                </h1>
                <p>
                  Trying something new is never pretty. But it is pretty
                  awesome. Because no matter how many times you fall down,
                  you're still coming out on top. Trying new things is always a
                  win.
                </p>
                <div class="text-center">
                  <img src="/login.svg" class="img-login mt-5" />
                </div>
              </div>
              <div class="wrap-right border-card">
                <b-form class="login100-form validate-form flex-sb flex-w">
                  <h6 class="text-center text-white">Welcome</h6>
                  <span class="login100-form-title pb-4">
                    LOGIN
                  </span>

                  <div
                    class="wrap-input100 validate-input mb-3"
                    data-validate="Username is required"
                  >
                    <input
                      class="input100"
                      type="email"
                      placeholder="Email"
                      v-model="loginValues.email"
                    />
                    <span class="focus-input100"></span>
                  </div>

                  <div
                    class="wrap-input100 validate-input mb-2"
                    data-validate="Password is required"
                  >
                    <input
                      class="input100"
                      type="password"
                      name="pass"
                      v-model="loginValues.password"
                      placeholder="Password"
                    />
                    <span class="focus-input100"></span>
                  </div>

                  <div class="container-login100-form-btn mt-4">
                    <button class="login100-form-btn" @click="login">
                      Login
                    </button>
                  </div>
                  <div class="text-center mt-3">
                    <span class="login-link">
                      Don't have an account yet?
                      <b-link
                        :to="{
                          name: 'signup'
                        }"
                        >Sign up</b-link
                      >
                    </span>
                  </div>
                </b-form>
              </div>
            </div>
          </div>
        </b-container>
      </b-jumbotron>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loginValues: {
        email: null,
        password: null
      }
    };
  },
  methods: {
    validateEmail(val) {
      return !val ? true : /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(val);
    },
    login() {
      this.faileds = [];
      for (let key in this.loginValues) {
        if (!this.loginValues[key]) {
          this.faileds.push(key);
          continue;
        }
        if (key === "email" && !this.validateEmail(this.loginValues[key])) {
          this.faileds.push(key);
        }
      }
      if (this.faileds.length > 0) {
        //gagal
        alert(this.faileds.length + " fields Tidak valid");
      } else {
        //berhasil
        alert("sukses");
      }
    }
  }
};
</script>
