<template>
  <div>
    <b-navbar toggleable="lg" class="nav-custom">
      <b-container>
        <b-navbar-brand href="#">Bar Cloth</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-navbar-nav>
              <b-nav-item href="#">Home</b-nav-item>
              <b-nav-item href="#">Gallery</b-nav-item>
              <b-nav-item href="#">Blog</b-nav-item>
            </b-navbar-nav>
            <b-nav-item-dropdown text="Product" right>
              <b-dropdown-item href="#">Clothes</b-dropdown-item>
              <b-dropdown-item href="#">Hat</b-dropdown-item>
              <b-dropdown-item href="#">Sweeter</b-dropdown-item>
              <b-dropdown-item href="#">Jeans</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-navbar-nav>
              <b-nav-item
                class="bo-50 btn-custom"
                :to="{
                  name: 'login'
                }"
                >Login</b-nav-item
              >
            </b-navbar-nav>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
    <div class="wrap-hero">
      <b-jumbotron>
        <b-container>
          <div class="wrap">
            <div class="wrap-login">
              <div class="wrap-left">
                <b-form class="login100-form validate-form flex-sb flex-w">
                  <b-row>
                    <b-col md="6">
                      <div class="wrap-input100 validate-input mb-3">
                        <input
                          class="input100"
                          type="text"
                          placeholder="First Name"
                          v-model="values.firstName"
                        />
                        <span class="focus-input100"></span>
                      </div>
                    </b-col>
                    <b-col md="6">
                      <div
                        class="wrap-input100 validate-input mb-3"
                      >
                        <input
                          class="input100"
                          type="text"
                          placeholder="Last Name"
                          v-model="values.lastName"
                        />
                        <span class="focus-input100"></span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col md="12">
                      <div class="wrap-input100 validate-input mb-3">
                        <input
                          class="input100"
                          type="email"
                          placeholder="Email"
                          v-model="values.email"
                        />
                        <span class="focus-input100"></span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col md="12">
                      <div class="wrap-input100 validate-input mb-3">
                        <input
                          class="input100"
                          type="password"
                          placeholder="Password"
                          v-model="values.password"
                        />
                        <span class="focus-input100"></span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    
                    <b-col md="12">
                      <div
                        class="wrap-input100 validate-input mb-3"
                      >
                        <b-select
                          class="input100"
                          placeholder="Gender"
                          v-model="values.gender"
                        />
                        <span class="focus-input100"></span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col md="6">
                      <div class="wrap-input100 validate-input mb-3">
                        <b-select
                          class="input100"
                          v-model="values.city"
                          :options="values.province==='Jawa Timur'?city1:city2"
                        />
                        <span class="focus-input100"></span>
                      </div>
                    </b-col>
                    <b-col md="6">
                      <div
                        class="wrap-input100 validate-input mb-3"
                      >
                        <b-select
                          class="input100"
                          placeholder="Province"
                          v-model="values.province"
                          :options="['Jawa Timur','Jawa Tengah']"
                        />
                        <span class="focus-input100"></span>
                      </div>
                    </b-col>
                    <b-col md="12">
                    <div class="container-login100-form-btn mt-4">
                    <button class="login100-form-btn" @click="register">
                      Signup
                    </button>
                    </div>
                    </b-col>
                  </b-row>
                </b-form>
              </div>
              <div class="wrap-right">
                <div class="text-center">
                  <h3>Hello Friend</h3>
                  Hello enter your perconal detail and start your journey with us.<br>
                  <img src="/signup.svg" class="img-signup mt-5" />
                </div>
              </div>
            </div>
          </div>
        </b-container>
      </b-jumbotron>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      values  : {
        firstName : null,
        lastName  : null,
        email     : null,
        password  : null,
        gender    : null,
        province  : null,
        city      : null
      },
      faileds : [],
      city1:[
        'Surabaya','Gresik','Sidoarjo', 'Mojokerto', 'Pasuruan'
      ],
      city2:[
        'Jakarta','Bogor','Tanggerang', 'Tebet', 'Bekasi'
      ]
    };
  },
  methods: {
    validateEmail( val ){
      return !val ? true : (/^[^\s@]+@[^\s@]+\.[^\s@]+$/).test(val)
    },
    register(){
      this.faileds=[]
      for( let key in this.values ){
        if( !this.values[key] ){
          this.faileds.push(key)
          continue
        }
        if( key==='email' && !this.validateEmail( this.values[key] )){
          this.faileds.push(key)
        }
      }
      if( this.faileds.length >0){
        //gagal
        alert(this.faileds.length+" fields Tidak valid")
      }else{
        //berhasil
        alert("sukses")
      }
    },
  }
};
</script>
<style>
.wrap-hero {
  /* background-image: linear-gradient(to bottom right, #c97ef4, #344ad3); */
}
.jumbotron {
  background-color: unset;
}
.bo-50 {
  border-radius: 50px;
}
.button-custom {
  background-color: #169546;
  border-color: #169546;
}
.button-custom:hover {
  background-color: #158640;
  border-color: #158640;
}
.nav-custom {
  -webkit-box-shadow: 0 1px 25px rgb(0 0 0 / 15%);
  box-shadow: 0 1px 25px rgb(0 0 0 / 15%);
}
.navbar-dark .navbar-brand,
.navbar-light .navbar-brand {
  color: #169546;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link {
  color: #169546;
}
.nav-item {
  padding: 0rem 1rem;
}
.btn-custom {
  background-color: #169546;
  padding: 0px 1rem;
}
.btn-custom > .nav-link {
  color: rgb(255 255 255) !important;
}
.title-hero {
  color: #333;
  font-size: 48px;
}
.relative {
  position: relative;
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrap-login {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap-left {
  width: 50%;
}
.wrap-right {
  width: 35%;
}
.border-card {
  padding: 40px;
  border: 1px solid #efefef;
  border-radius: 1rem;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login100-form-title {
  font-size: 30px;
  color: #169546;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  display: block;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-radius: 1rem;
}
.input100 {
  color: #3eaac2;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 48px;
  padding: 0 20px 0 38px !important;
  border-radius: 1rem;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #169546;
  border-radius: 1rem;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 48px;
  background-color: #169546;
  border-radius: 1rem;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #11863e;
}
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: "Poppins Regular";
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: "Poppins Regular";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.w-full {
  width: 100%;
}
button {
  outline: none !important;
  border: none;
  background: #169546;
}

button:hover {
  cursor: pointer;
  background: #169546;
}
input, select {
  outline: none;
  border: none;
}
.img-login {
  width: 45%;
}
.img-signup {
  width: 100%;
}
.login-link a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
.login-link a:hover {
  opacity: 0.8;
}
</style>
